

.content{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 10px;
    margin-bottom: 275px;
    margin-left:150px;
    margin-right:-400px;
    margin-top: 200px;  

  }
  
  .section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
  }
  
  .section-follow .fa-4x {
    margin: 5px 10px;
  }
  
  .section-contact h5 {
    margin-bottom: 30px;
  }
#plan{
    padding-left: 30px;
  }

  #myVideo {
    width: 100% !important;
    
  }

 
  
