.content{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 80%;
  padding: 10px;
  margin: 300px 20px 200px 80px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
#plan{
  padding-left: 30px;
}

#myVideo {
  width: 100% !important;
  
}

#map {
  width: 80%;
  height: 400px;
}

@media screen and (max-width: 375px){
nav .brand-logo {
  font-size: 1.5rem;
}
  .content {
    margin: 10px 30px 500px 30px;
  }
}